extends ../layout.pug

mixin cookie_form
  form(method='post' action='/csrf/cookie')
    .form-group
      input.form-control(placeholder='Name' type='text' name='name' id='name')

    .form-group.row
      label.col-form-label.col-md-2(for='domain') Domain:
      div.col-md-10
        input.form-control-plaintext(type='text' readonly id='domain' value='localhost')

    .form-group.row
      label.col-form-label.col-md-2(for='path') Path:
      div.col-md-10
        input.form-control(placeholder='Path' type='text' name='path' id='path' value='/')

    .form-group
      .form-check
        input.form-check-input(type='checkbox' id='httpOnly' name='httpOnly')
        label.form-check-label(for='httpOnly') HttpOnly

    .form-group
      .form-check
        input.form-check-input(type='checkbox' id='signed' name='signed' disabled)
        label.form-check-label(for='signed') Signed
        
    .form-group
      .form-check
        input.form-check-input(type='checkbox' id='secure' name='secure')
        label.form-check-label(for='secure') Secure

    .form-group
      label(for='lax') Same Site:
      .form-check
        input.form-check-input(type='radio' id='lax' name='same-site' value='lax')
        label.form-check-label(for='lax') Lax
      .form-check
        input.form-check-input(type='radio' id='strict' name='same-site' value='strict')
        label.form-check-label(for='strict') Strict

    .form-group
      button.btn.btn-primary(type='submit') Set cookie

block content
  if !!name
    p Hi, #{name}! (from cookie)
  p
    | This page demonstrates some cookie features that
    | can improve security.
  div
    +cookie_form
  div
    button.btn.btn-info#cookie Get cookie
  div
    p#cookie-display