extends ../layout.pug

mixin cookie_form
  form(method='post', action='/csrf/cookie')
    .form-group
      input.form-control(placeholder='Name', type='text', name='name', id='name')

    .form-group
      button.btn.btn-primary(type='submit') Set cookie

mixin poke_form
  form(method='post', action='/csrf/poke')
    .form-group
      button.btn.btn-danger(type='submit') Poke

block content
  if !!name
    p Hi, #{name}! (from cookie)
  p
    | This page lets you set a cookie so that you can see
    | how this cookie is attached to all requests to this site.
  div
    +cookie_form
  div
    +poke_form
