extends ../layout.pug

mixin login_form
  form(method='post', action='/csrf/login')
    .form-group
      input.form-control(placeholder='Username', type='text', name='username', id='username')

    .form-group
      input.form-control(placeholder='Password', type='password', name='password', id='password')

    .form-group
      button.btn.btn-primary(type='submit') Login

block content
  if !!message
    .alert.alert-danger(role='alert')
      =message
  if !!name
    p Hi, #{name}! (from cookie)
  p
    | Now we will demonstrate a simple login process with a cookie based JWT
    | used to track / manage session for future requests.
  p (jgraber/testpass)
  div
    +login_form
