extends ../layout.pug

mixin search_form
  form.form-inline(method='get' action='/xss/search')
    label.sr-only(for='query') Search
    input.form-control.mr-sm-2(type='text' id='query' name='query' placeholder='Search' value=query)
    button.btn.btn-primary(type='submit') Search
block content
  h3 Awesome Search Page! &#x1F600;
  div
    +search_form

  h4.mt-3 
    | Results for 
    // pug knows this is unsafe and by default sanitizes this response
    span!= query
  div
    ul
      if !!results && results.length
        each result in results
            li= result