extends layout.pug

block content
  if !!name
    p Hi, #{name}! (from cookie)
  p
    | This application demonstrates various vulnerability exploits
    | along with some preventative measures.
  h2 CSRF
  ul
    li
      a(href='/cookie') Cookies
    li
      a(href='/secure') CSRF
    li
      a(href='/adv-cookie') Cookie Security Features
  h2 XSS
  ul
    li
      a(href='/reflected-search') Reflected Search