extends layout.pug

block content
  if !!name
    p Hi, #{name}! (from cookie)
  p
    | This application demonstrates various vulnerability exploits
    | along with some preventative measures.
  h2 CSRF
  ul
    li
      a(href='/csrf/cookie') Cookies
    li
      a(href='/csrf/secure') CSRF
    li
      a(href='/csrf/adv-cookie') Cookie Security Features
    li
      a(href='/csrf/storage') Storing Credentials
  h2 XSS
  ul
    li
      a(href='/xss/search') Reflected Search
    li
      a(href='/xss/comments') Stored Comments
