extends layout.pug

block content
  h2 CSRF
  ul
    li
      a(href='/obvious') Obvious CSRF Request
    li
      a(href='/iframe') Hidden CSRF Request (IFRAME)
    li
      a(href='/get') Hidden CSRF Request, No Interaction (HTTP GET)
    li
      a(href='/steal') JWT Exploitation with CSRF (CSRF with JWT)

  h2 Phishing
  ul
    li
      a(href='/phishing') Basic Phishing Example

  h2 XSS
  ul
    li
      a(href='/search-link') XSS Link
    li
      a(href='/search-danger') Dangerous Link