extends layout.pug

block content
  h2 CSRF Vulnerability Samples
  ul
    li
      a(href='/obvious') Demonstration 1
    li
      a(href='/iframe') Demonstration 2 (IFRAME)
    li
      a(href='/get') Demonstration 3 (HTTP GET)
